

#formContainer {
  margin-bottom: 20px;
}

input[type="text"],
input[type="url"],
button {
  display: block;
  margin-bottom: 10px;
}

img {
  display: block;
  width: 200px; 
  height: auto; 
  margin-bottom: 10px;
}
